/* CSS Hoja de estilo. excel4.css */
a:link {
    color:darkgreen;
    text-decoration: none }
    a.:visited {
    color: red }
    a:hover { 
    color: darkviolet;
    font-weight: bold }
    a:active { 
    color: yellowgreen; }
    ul {
    list-style-type: none
    }