.portafolio {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 100dvh;
  /* padding: 3rem 4rem; */
  justify-content: center;
}

.portafolio__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 2rem;
  height: 100%;
  min-height: 60dvh;
}

.portafolio__card {
  display: flex;
  height: 40dvh;
  flex-direction: column;
  align-items: center;
  background: rgb(238, 238, 238);
  border-radius: 14px;
  width: 28rem;
  box-shadow: -1px -3px 8px 5px #64646475;
  overflow: hidden;
  position: relative;
}

.caraB {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #101010;
  overflow: hidden;
  width: 100%;
  gap: 1.6rem;
  transform: translateY(calc(50% - 1px));
  z-index: 5;
  position: absolute;
  padding: 1rem 3rem 0;
  align-items: center;
}

.caraB:hover {
  transform: translateY(0%);
  transition: .5s ease;
}

.portafolio__card h3 {
  font-size: 2rem;
  color: var(--secundary-color);
  font-family: var(--font-montserrat);
  font-weight: 600;
}

.image__container {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.card__img {
  width: 100%;
  transition: 0.5s ease-in-out;
  object-fit: cover;
  max-height: 186px;
}

.portfolio__text__container {
  padding: 0 .5rem;
  margin-bottom: 1px;


}

.portfolio__content {
  color: white;
  font-size: 1.3rem;
  height:24px;
  width: 232px;
  padding: 0 2px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  margin: 0 5px 0 5px;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.portafolio__card:hover .card__img {
  transform: scale(1.2);
}

.btn__container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  transform: translateY(257%);
}

.caraB:hover .btn__container {
  transform: translateY(55%);
  transition: .7s ease-in-out;
  transition-delay: .3s;
}

.caraB:hover .portfolio__content {
  overflow-y: auto;
  max-height: 80px;
  width: 94%;
  text-overflow: unset;
  white-space: unset;
  text-align: left;
  min-height: 60px;
  margin-bottom: 9px;
  height: auto;
}

/* width */
.portfolio__content::-webkit-scrollbar {
  width: 7px;
  height: 3px;
}

/* Track */
.portfolio__content::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.portfolio__content::-webkit-scrollbar-thumb {
  background: var(--secundary-color);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.card__btn {
  color: white;
  background: var(--secundary-color);
  font-weight: 500;
  padding: 1.2rem 1rem;
  border-radius: 15px;
  border: 2px solid #000000;
  width: 117px;
  text-align: center;
  font-size: 1.2rem;
  transition: .5s ease-in-out;
}

.card__btn:hover {
  background: var(--text-gradient);
}


.portafolio__icons {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.icon__caja {
  padding: 0.5rem;
  background: #7d7d7d;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  min-width: 3rem;
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 3px 1px #000000e3;
  border: 1.5px solid var(--secundary-color);
}

.iconify__icon {
  font-size: 1.6rem;
}

@media screen and (max-width:768px) {
  .portfolio {
    padding: 0;
  }

  .portafolio__container {
    display: flex;
    align-items: center;
    width: auto;
    gap: 2rem;
    flex-direction: column;
  }

  .portafolio__card {
    width: 28rem;
  }

  .image__container {
    min-width: 29rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
    height: 17rem;
  }


}