.main-tables-container {
    display: flex;
    width: 930px;
    margin: 0 auto;
    overflow-x: visible;
    gap: 20px;
}

.main-currency-table {
    width: 50%;
    min-width: auto;
    max-width: auto;
    flex-shrink: 1;
}

.table-go-right,
.table-go-left {
    display: none;
}

.main-product-detail {
    width: 100%;
    margin: 0 auto;
}

.product-cards--container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 930px;
    margin: 0 auto;
    justify-content: center;
    gap: 20px;
}

.plans-container--slider {
    justify-content: center;
}