span{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    
}
html{
    background-color: rgb(49, 46, 46);
    color: white;
}
