body { /* body: Selector que aplica estilos al cuerpo de la página. Define el color del texto, la fuente y elimina los márgenes predeterminados del cuerpo. */
    color: #646d6c; /* Color del texto en el cuerpo de la página */
    font-family: "Liberation Sans"; /* Fuente utilizada en todo el cuerpo */
    font-size: 1rem; /* Tamaño de fuente base */
    margin: 0; /* Elimina los márgenes predeterminados del cuerpo */
}

h1 { /* h1: Selector que afecta a los títulos principales (h1). Establece un grosor de fuente muy grueso y márgenes específicos. */
    font-weight: 900; /* Define el grosor de la fuente como muy gruesa */
    margin-bottom: 0.5rem; /* Margen inferior del título */
    margin-top: 0; /* Sin margen superior */
    font-size: 50px; /* Tamaño de la fuente del título h1 */
}

p { /* p: Selector que afecta a los párrafos (p). Ajusta los márgenes superiores e inferiores del texto. */
    margin-bottom: 1rem; /* Margen inferior del párrafo */
    margin-top: 0; /* Sin margen superior */
}

strong { /* strong: Aplica estilos a los textos en negrita. En este caso, hace el texto más grueso que el negrita predeterminado. */
    font-weight: bolder; /* Hace el texto en negrita más grueso */
}

.container-lg,
.container-xl,
.container-xxl { /* .container-lg, .container-xl, .container-xxl: Selecciona contenedores grandes que se centran horizontalmente y ocupan el ancho completo en pantallas pequeñas. */
    margin-left: auto; /* Centra horizontalmente los elementos */
    margin-right: auto; /* Centra horizontalmente los elementos */
    width: 100%; /* Ocupa todo el ancho disponible */
}

@media (min-width: 1400px) { /* Media query para pantallas grandes (1400px o más). Ajusta el ancho máximo de los contenedores para evitar que se estiren demasiado. */
    .container-lg,
    .container-xl,
    .container-xxl { /* .container-lg, .container-xl, .container-xxl: Aplica un ancho máximo a estos contenedores en pantallas grandes. */
        max-width: 1320px; /* Ancho máximo para pantallas grandes */
    }
}

.header_top { /* .header_top: Selector de la parte superior de la cabecera. Aplica bordes, sombras y espaciado interno para mejorar el diseño visual de la cabecera. */
    border: 1px solid hsla(0, 0%, 66%, 0.5); /* Borde superior de la cabecera */
    box-shadow: 0 1.5px 1.5px hsla(210, 3%, 89%, 0.3); /* Sombra debajo de la cabecera */
    padding-bottom: 0.9rem; /* Espaciado interno en la parte inferior */
    padding-top: 0.9rem; /* Espaciado interno en la parte superior */
}

@media (max-width: 479.98px) { /* Media query para pantallas pequeñas (menos de 480px). Ajusta los estilos de .header_top y su contenido en pantallas pequeñas. */
    .header_top { /* .header_top: Ajusta el espaciado superior e inferior en dispositivos pequeños para una mejor presentación. */
        padding-bottom: 0.75rem; /* Ajusta el espaciado inferior en pantallas pequeñas */
        padding-top: 0.75rem; /* Ajusta el espaciado superior en pantallas pequeñas */
    }

    .header_top > div { /* .header_top > div: Centra el contenido dentro de la cabecera en pantallas pequeñas. */
        text-align: center; /* Centra el contenido de la cabecera en pantallas pequeñas */
    }
}

.header_bottom { /* .header_bottom: Selector que controla la parte inferior de la cabecera. Usa flexbox para la alineación y aplica espaciado interno. */
    display: flex; /* Usa flexbox para la alineación de los elementos en la cabecera */
    justify-content: flex-end; /* Alinea el contenido al final de la cabecera */
    padding-bottom: 0.75rem; /* Espaciado inferior */
    padding-top: 0.75rem; /* Espaciado superior */
}

.header_nav a { /* .header_nav a: Selector que afecta a los enlaces dentro de la barra de navegación (.header_nav). Ajusta el color, grosor de la fuente y espaciado de los enlaces. */
    color: #104c42; /* Color del texto de los enlaces de la navegación */
    font-weight: 500; /* Grosor de la fuente de los enlaces */
    padding: 0 0.25rem; /* Espaciado alrededor del enlace */
}

.header_nav a:not(:hover) { /* .header_nav a:not(:hover): Aplica estilos a los enlaces que no están en estado hover (sin el cursor encima). Remueve el subrayado predeterminado de los enlaces. */
    text-decoration: none; /* Quita el subrayado de los enlaces si no están en hover */
}

.header_nav a+a { /* .header_nav: Es el selector de la clase que define la barra de navegación (nav en el HTML). Esto asegura que solo los enlaces dentro de .header_nav sean afectados por la regla. a + a: Es un selector de adyacencia directa. En CSS, el signo + significa "el siguiente elemento hermano inmediato". Por lo tanto, a + a selecciona solo los enlaces (<a>) que están inmediatamente después de otro enlace (<a>). */
    margin-left: 1.25rem; /* Añade margen entre los enlaces de navegación */
}

.hero { /* .hero: Selector que afecta la sección hero (principal). Define una imagen de fondo con un ajuste específico para la posición y el tamaño. */
    background: url(https://escuelasdecodigo.cdmx.gob.mx/wp-content/themes/escuelasdecodigo/dist/assets/hero.jpg) 50% / cover no-repeat hsla(0, 0%, 93%, 0.8); /* Define una imagen de fondo para el héroe y ajusta su posición y escala */
    margin-bottom: 1.25rem; /* Margen inferior */
}

.hero_background { /* .hero_background: Define un fondo de imagen centrado para la sección del héroe con espaciado superior e inferior. */
    background: url(https://escuelasdecodigo.cdmx.gob.mx/wp-content/themes/escuelasdecodigo/dist/assets/hero.jpg) 50% / cover no-repeat; /* Fondo de la sección con la imagen de fondo centrada */
    padding-bottom: 3rem; /* Espaciado inferior grande */
    padding-top: 3rem; /* Espaciado superior grande */
}

.hero_title { /* .hero_title: Estilos para el título de la sección hero. Utiliza un grid layout para organizar el texto y lo convierte a mayúsculas. */
    color: #fff; /* Color de texto blanco */
    display: grid; /* Usa grid layout para organizar el texto */
    grid-template: repeat(4, auto) / repeat(2, 5ch) 16.5ch; /* Define la estructura de las columnas y filas */
    margin-bottom: 0; /* Sin margen inferior */
    position: relative; /* Posicionamiento relativo para superponer elementos */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
}

@media (min-width: 768px) { /* Media query para pantallas medianas y grandes (768px o más). Ajusta el espaciado y agrega un gráfico antes del texto en el título del héroe. */
    .hero_title { /* .hero_title: Ajusta el espaciado izquierdo para pantallas medianas y grandes. */
        padding-left: 3.5rem; /* Espaciado a la izquierda en pantallas medianas y grandes */
    }

    .hero_title:before { /* .hero_title:before: Inserta un gráfico SVG antes del texto en el título del héroe. */
        background: url(https://escuelasdecodigo.cdmx.gob.mx/wp-content/themes/escuelasdecodigo/dist/assets/hero-vector.svg) 50% / contain no-repeat;
        content: ""; /* Inserta un gráfico antes del texto */
        height: 4.188rem; /* Altura del gráfico */
        left: 0; /* Alinea a la izquierda */
        position: absolute; /* Gráfico posicionado relativo al título */
        top: -0.25rem; /* Ajuste de la posición superior */
        width: 2.063rem; /* Ancho del gráfico */
    }
}

@media (max-width: 479.98px) { /* Media query para pantallas pequeñas (menos de 480px). Ajusta el layout del grid y el tamaño de fuente en pantallas pequeñas. */
    .hero_title { /* .hero_title: Ajusta la estructura del grid en pantallas pequeñas. */
        grid-template-columns: 16% 19% 65%; /* Redefine el grid para pantallas pequeñas */
    }

    .hero_title span { /* .hero_title span: Ajusta el tamaño de fuente en pantallas pequeñas. */
        font-size: 1.0625rem; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }
}

.hero_title span:first-child { /* .hero_title span:first-child: Define que el primer span del título hero ocupe las primeras cuatro columnas del grid. */
    grid-column: 1/4; /* El primer span ocupa las primeras 4 columnas */
}

.hero_title span:nth-child(2) { /* .hero_title span:nth-child(2): El segundo span ocupa las primeras tres columnas con un espaciado adicional a la derecha y alineación del texto a la derecha. */
    grid-column: 1/3; /* El segundo span ocupa las primeras 3 columnas */
    padding-right: 0.2em; /* Espaciado adicional a la derecha */
    text-align: right; /* Alinea el texto a la derecha */
}

.hero_title span:last-child,
.hero_title span:nth-child(3) { /* .hero_title span:last-child, .hero_title span:nth-child(3): El tercer y último span del título ocupa la tercera columna del grid. */
    grid-column: 3/4; /* El tercer y último span ocupa la tercera columna */
}

.hero_title span:nth-child(3) { /* .hero_title span:nth-child(3): Ajusta los estilos del tercer span, incluyendo la fuente, tamaño adaptable, espaciado y sombra del texto. */
    font-family: sans-serif; /* Usa una fuente sans-serif */
    font-size: calc(1.625rem + 4.5vw); /* Tamaño de fuente adaptable a la pantalla */
    font-variation-settings: "wght" 700; /* Ajusta el grosor de la fuente */
    line-height: 1; /* Altura de línea compacta */
    margin-top: -0.1em; /* Ajuste superior para alinear el texto */
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9); /* Sombra de texto */
    word-spacing: -10px; /* Ajuste del espaciado entre palabras */
}

@media (min-width: 1200px) { /* Media query para pantallas grandes (1200px o más). Ajusta el tamaño de fuente del tercer span del título hero en pantallas grandes. */
    .hero_title span:nth-child(3) {
        font-size: 4rem; /* Tamaño de fuente más grande en pantallas grandes */
    }
}

@media (max-width: 479.98px) { /* Media query para pantallas pequeñas (menos de 480px). Ajusta el tamaño de fuente del tercer span en pantallas pequeñas. */
    .hero_title span:nth-child(3) {
        font-size: 1.8rem; /* Ajusta el tamaño de fuente para pantallas pequeñas */
    }
}

.body_title { /* .body_title: Estilos para los títulos dentro del cuerpo de la página, con tamaño de fuente adaptable, grosor ajustado y alineación centrada. */
    color: #b08f5c; /* Color dorado para el título del cuerpo */
    font-size: calc(1.28125rem + 0.375vw); /* Tamaño de fuente adaptable */
    font-variation-settings: "wght" 700; /* Ajusta el grosor de la fuente */
    margin-bottom: 0.25rem; /* Margen inferior pequeño */
    text-align: center; /* Alinea el texto al centro */
}

.body_excerpt { /* .body_excerpt: Estilos para los extractos de texto dentro del cuerpo de la página. Ajusta el tamaño de fuente, el espaciado entre líneas y la alineación centrada. */
    font-size: 1.0625rem; /* Tamaño de fuente para los párrafos */
    line-height: 1.25; /* Espaciado entre líneas */
    margin-bottom: 1.5rem; /* Margen inferior grande */
    text-align: center; /* Alinea el texto al centro */
}

.body_excerpt strong { /* .body_excerpt strong: Estilos para los textos en negrita dentro de los extractos de la página. Muestra el texto en negrita como bloque completo. */
    display: block; /* Muestra el texto en negrita como bloque completo */
}
