.aboutme{
    display: flex;
    background-color: var(--ligther-green);

    justify-content: space-around;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;

    padding: 3rem;
}

.about__container{
    color: var(--main-color);
    width: 50%;
   /*  min-width: 29rem; */
    
}

/* .about__title{
    font-size: 5rem;
    
} */

.about__icon{
    font-size: 2.4rem;
}

.about__content{
    padding-top: 2rem;
    font-size: 1.8rem;
    line-height: normal;
}

.about__social{
    padding-top: 2rem;
}

.about__media{
    background-image: url("../assets/svg/blob-about.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 90%;
}

about__image{
    width: 45%;
    min-width: 33rem;
    margin-top: 5rem;
}