.footer{
    display: flex;
    justify-content: space-around;
    padding: 0 3rem;
    background-color: black;
    height: 20vh;
    align-items: center;
}

.footer__img{
    width: 9rem;
}

.footer__logo{
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.footer__link{
    color: white;
    font-size: 1.4rem;
}

.footer__element{
    margin-bottom: 0.8rem;
}

.footer__icon{
    font-size: 3rem;
}

.footer__icon-github{
    filter: invert(1);
}

.footer__container-links{
    justify-content: center;
}