*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html{
    /*con esto hacemos que rem equivalga  a 10 px*/
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Space Mono', monospace;
}

a{
    text-decoration: none;
}

textarea{
    resize: none;
}

:root{
    --main-color: rgb(7, 25, 82);
    --dark-green: rgb(11, 102, 106);
    --ligth-green: rgb(53, 162, 159);
    --ligther-green: rgb(53, 162, 159);
    --white-soft: rgb(244, 244, 244);
    --subtitle: 5rem;
    
}

.subtitle{
    font-size: var(--subtitle);
}

body{
    background-color: var(--white-soft);
}