div,
p {
  display: inline-block;
  padding: 20px;
  margin: 10px;
  background: white;
  min-width: 100px;
  text-align: center;
}

.shadow-simple {
  box-shadow: 3px 3px 5px 2px #888;
}

.shadow-inset {
  box-shadow: inset 0 0 10px #888;
}

.text-shadow {
  text-shadow: 2px 2px 5px #888;
}

.radius-small {
  border: 2px solid #333;
  border-radius: 5px;
}
