.login {
  /* Centra el contenido en la pantalla completa usando grid */
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.form-container {
  /* Organiza el formulario en filas (logo, formulario, botón) */
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px; /* Define un ancho fijo para el contenedor del formulario */
}

.logo {
  /* Controla el tamaño del logo y lo oculta inicialmente */
  width: 150px;
  margin-bottom: 48px;
  justify-self: center; /* Centra el logo horizontalmente */
  display: none; /* Logo oculto por defecto */
}

.title {
  /* Estilo para el título principal del formulario */
  font-size: var(--lg); /* Tamaño de texto grande (definido en global.css) */
  margin-bottom: 12px;
  text-align: center; /* Centrado del texto */
}

.subtitle {
  /* Estilo para el subtítulo del formulario */
  color: var(--very-light-pink); /* Color suave */
  font-size: var(--md); /* Tamaño de texto mediano */
  font-weight: 300; /* Fuente delgada */
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center; /* Centrado del subtítulo */
}

.form {
  /* Organiza el contenido del formulario en una columna */
  display: flex;
  flex-direction: column;
}

.label {
  /* Estilos para las etiquetas de los campos del formulario */
  font-size: var(--sm); /* Tamaño de texto pequeño */
  font-weight: bold; /* Texto en negrita */
  margin-bottom: 4px;
}

.input {
  /* Estilos para los campos de entrada de texto */
  background-color: var(--text-input-field); /* Color de fondo del input */
  border: none; /* Sin borde */
  border-radius: 8px; /* Bordes redondeados */
  height: 30px; /* Altura del input */
  font-size: var(--md); /* Tamaño de texto mediano */
  padding: 6px; /* Espacio interno */
  margin-bottom: 12px;
}

.primary-button {
  /* Estilo para el botón principal del formulario */
  background-color: var(--hospital-green); /* Color de fondo verde */
  border-radius: 8px; /* Bordes redondeados */
  border: none; /* Sin borde */
  color: var(--white); /* Texto en blanco */
  width: 100%; /* Ocupa todo el ancho del contenedor */
  cursor: pointer; /* Muestra el puntero de clic */
  font-size: var(--md); /* Tamaño de texto mediano */
  font-weight: bold; /* Texto en negrita */
  height: 50px; /* Altura del botón */
}

.login-button {
  /* Márgenes para el botón principal */
  margin-top: 14px;
  margin-bottom: 30px;
}

/* Media query para dispositivos con un ancho de pantalla máximo de 640px */
/* Aquí el logo se muestra únicamente en pantallas pequeñas */
@media (max-width: 640px) {
  .logo {
    display: block; /* Muestra el logo cuando la pantalla es pequeña */
  }
}
