/* CSS Hoja de estilo. aulaclic.css */
body {
    font-size: 12px
}
ul {
    list-style-type: none;
     
}
ul.menu li {
    display: inline;
    background-color: antiquewhite;
    margin-right: 10px;
    padding: 5px;
    color:black
}
h2 {
    font-size: 16px;
    color:darkred
}
li h3 {
    font-size: 14px;
     color: blue
}
#articulos_aulaclic {
    font-size: 14px;
     color: green
}
ul li {
    font-size: 13px
}

li h4 {
   color: darkred 
}


#sin_subrayar {
    text-decoration: none;
   letter-spacing: 3px
}

a:link {
    text-decoration: none 
} 


