.container {
  display: flex;
  background: #f0f0f0f0;
  padding: 10px;
  margin-bottom: 20px;
  min-height: 100px;
}

.item {
  background: #3498db;
  color: white;
  padding: 20px;
  margin: 5px;
  text-align: center;
}

.grow {
  flex-grow: 2;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.self-start {
  align-self: flex-start;
}

.self-end {
  align-self: flex-end;
}
