/* reset */
*{
    box-sizing: border-box;
}

img {
    width: 100%;
}

.logo{
    width: 30px;
}

h1{
    width: 400px;
    height: 100px;
    padding: 5px 10px;
}


/*Pseudo clase */

button{
    background-color: gold;
    color: black;
    border: 1px solid black;
    border-radius: 12px;
/*     border-bottom: 2px solid red;
    border-top: 2px solid blue; */
    transition: 0.2s ease-in-out;
}
button:hover{
    background-color: black;
    color: gold;
    border: 2px solid gold;
    transform: scale(1.2);
}


/* cambiamos el elemento por una ancle <a> y añadimos la clase boton para que se sigan aplicando los estilos */

.boton{
    text-decoration: none;
    padding: 5px;
    background-color: gold;
    color: black;
    border: 1px solid black;
    border-radius: 12px;
/*     border-bottom: 2px solid red;
    border-top: 2px solid blue; */
    
}
.boton:hover{
    background-color: black;
    color: gold;
    border: 2px solid gold;
    transform: scale(1.2);
    transition: 0.2s ease-in-out;
}

.boton:active{
    background-color: black;
    color: red;
    border: 2px solid red;
}

/* pseudoclase focus */

input:focus{
    outline-color: blue;
}

/* nth-child hijos de los elementos */
li:nth-child(odd){
    background-color: lightgray;
}

li:nth-child(4){
    background-color: red;
    color: white;
}

/* first-child fast-child */
li:first-child{
    color: red
}

li:last-child{
    color: blue;
}

/* nth-of-type por tipo de elemento */
p:nth-of-type(2){
    background-color: blue;
}

/* only-child aplica al unico hijo del elemento */

p:only-child{
    color: purple;
}


button:not(.primary-btn){
    background-color: aqua;
}

/* Checked */
input:checked{
    accent-color: pink;
}

input:disabled{
    background-color: lightgray;
}

input:enabled{
    border: 2px solid green;
}

input:required{
    border: 2px solid tomato;
}

/* Pseudo elementos */

p::before{
    content: "ESTO ES UN EJEMPLO";
    background-color: black;
    color: white;
    font-weight: 700;
    margin-right: 10px;
    padding: .3rem .5rem;
    border-radius: 15px;


}

p::after{
    content: "FINAL DEL PARRAFO";
    background-color: black;
    color: white;
    font-weight: 700;
    margin-left: 10px;
    padding: .3rem .5rem;
    border-radius: 15px;


}

P:hover::before{
    content: "🩵";  
}

P:hover::after{
    content: "🧡";          
}

.ejemplo::first-line{
    color: purple;
    font-weight: bolder;
}

.ejemplo::first-letter{
    font-size: 2em;
    color: orange;
}


.example::selection{
    background-color: orange;
    color: black;
}


.input-nombre::placeholder{
    color: red;
}