footer {
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}

footer section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

footer .footer--left ul {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    list-style: none;
}

footer .footer--left ul li {
    margin: 10px 0;
}

footer .footer--left ul li a {
    text-decoration: none;
    color: var(--just-white);
}