/* CSS Hoja de estilo. aulaclic.css */
ul {list-style-type: none }
h2 {font-size: 20px}
ul h2 {font-size: 16px}
h2, ol { color:darkred}
.resaltado {font-weight: bold}
div.resaltado {color: darkslategrey}
p.resaltado {color: blueviolet}
span {font-family: arial;
     text-decoration: underline}
#sin_subrayar {text-decoration: none}
a:link { text-decoration: none } 
.fondo {background-color: antiquewhite;
    width: 20em;
    margin: 0 auto;
    text-align: center;
    padding: 5px;
    background-image: url(../graficos/orangeball.gif);
    background-position: 10px center;
    background-repeat: no-repeat;
    }
.bordes { border-color: blue;
    border-style: solid;
    border-width: 2px;
    border-radius: 9px;
    }


