*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}

main{
    width: 100vw;
    height: 100vh;
    background-color: purple;
}

section{
    width: 80%;
    height: 500px;
    min-width: 320px;
    margin: auto;
    background-color: red;
}