* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
  }
  body {
    font-size: 1.6rem;
  }
  .container {
    border: 0.3rem solid black;


    display: flex;


  /*   height: 50vh;
    align-items: center; */

    flex-wrap: wrap;
  }
  .box {
    width: 10rem;
    height: 10rem;



    
   /*  flex-basis: 10rem; */


    /* flex-grow: 1; */
  }
  .box1 {
    background-color: blue;
   /*  order: 1; */
   /* flex-grow: 1; */
  }
  .box2 {
    background-color: blueviolet;
  /*   order: 3; */
 /*  flex-grow: 1; */
  }
  .box3 {
    background-color: burlywood;
  }
  .box4 {
    background-color: cadetblue;
  }
  .box5 {
    background-color: coral;
   /*  order: 4; */
  }
  .box6 {
    background-color: salmon;
  /*   order: 2; */
  }