.serif {
  font-family: serif;
  font-size: 20px;
}

.sans-serif {
  font-family: sans-serif;
  font-size: 20px;
}

.monospace {
  font-family: monospace;
  font-size: 20px;
  background-color: #f0f0f0;
  padding: 5px;
}

.google-title {
  font-family: "Poppins", sans-serif;
}

.google-text {
  font-family: "Itern", sans-serif;
}
