input:focus {
  outline: 2px solid #3498db;
  background-color: #e8f4f8;
}

li:first-child {
  color: green;
  font-weight: bold;
}

li:last-child {
  color: red;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: gray;
}

.quote::after {
  content: '"';
  color: blue;
  font-size: 24px;
}

.quote::before {
  content: '"';
  color: blue;
  font-size: 24px;
}
