.main-nav{
    margin-top: 10px;
    list-style: none;
    padding-left: 0;
    background-color: #13a4a4;
}
.main-nav__item{
    display: inline-block;
}
.main-nav__item a {
    color: white;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

/* Pseudo clases */
/*hover es un estado de la clase al igual que active*/
.main-nav__item a:hover{
    color: aqua;
}

.main-nav__item a:active {
    color: blueviolet;
}

/* Pseudo elementos*/

.main-nav__item a::after {
    content: " 😎 ";
}

