<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>contacto</title>
<link href="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.css" rel="stylesheet" type="text/css"/>
<script src="http://code.jquery.com/jquery-1.6.4.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/mobile/1.0/jquery.mobile-1.0.min.js" type="text/javascript"></script>
</head>
	<style type="text/css"> .ui-page{background:url(580730_448268025228107_1846814970_n.jpg);background-size:cover; background-repeat:no-repeat;}
	</style> 
<body> 

<div data-role="page">
	<div data-role="header">
		
        
        	<div data-role="navbar">
            	<ul>
                <li><a href="c:/wamp/www/MERAKU/index.html"> Atras </a></li>
                </ul>
             </div>
             
     </div>
	<div data-role="content">
    <table border="5" align="center">
<caption>Gente que me apoyan</caption>
<tr>
<th>Mi madre</th>
<th>Mi hermano </th>
<th> Mi padre </th>
</tr>
<tr>
<td>
<img src="alber.jpg" heigt=150 width=100>
</td>
<td>
<img src="joshua.jpg" heigt=150 width=100>
</td>
<td>
<img src="abraham.jpg" heigt=100 width=150>
</td>
</table>
    <p>bueno estas personas son las que mas me apoyan las formas de contacto estan en cada video de mi canal de youtube, seguire actualizando mis redes para que esten mas en contacto conmigo o bien si quieren de una forma mas personal en mi correo xacobomk@gmail.com,</p>
    <p>tambien pueden encontrarme en facebook en mi pagina oficial f/MerakuMc y lo mismo en twitter t/MerakuMc y en youtube con el mismo nombre o bien directamente youtube/jeicobjanne</p>
</body>
</html>
